graft examples
graft tests
#graft docs

include tox.ini README.rst

recursive-exclude examples *.pdf
recursive-exclude examples/rl? *.pdf
recursive-exclude tests *.pdf

prune examples/pdfrw
prune examples/rl?/pdfrw
prune tests/pdfrw
prune tests/ramdisk
prune tests/saved_results
prune tests/tmp_results

global-exclude *~ *.py[cod]
